<ion-view id = "ABS" view-title="A Bad Statistic">
  <ion-content>

      <h4>(A Bad Statistic)</h4>
      <body>
        <p>I am tired..
            I am leaving..
            She says to him,
            and began to pack her bags!

        <p>Why are you doing this?
            But I love you..
            He begged and pleaded,
            while touching her body!

        <p>O no no please don’t..
            Don’t you ever touch me again..
            I am done; done with you..
            You irritate me with your touch!

        <p>How did it come to this?
            But we love each other?
            We said we’ll be together..
            Till eternity!

        <p>Sorry; eternity has ended..
            At least for you and I..
            I need to move on..
            I must follow my dreams!

        <p>He held on to her waist..
            Firmly with both hands..
            Eyes closed; sweating and pleading..
            Please don’t leave me!

        <p>She struggled violently..
            Her hips moved rhythmically..
            Like a very powerful..
            Destroyer warship!

        <p>Wham! His head hit the wall..
            With a sickening thud..
            His lifeless body fell..
            Like a dead Iroko tree!

        <p>He became history..
            A bad statistic..
            His moon went home..
            His sun won’t shine again!

        <p>The lesson from this;
            Don’t dig your grave..
            If she wants to go..
            Let her follow her Rainbow!
        </p>          
      </body>
  </ion-content>
</ion-view>
