<ion-view id = "ADOJ" view-title="A Depot Of Jewels">
  <ion-content>

      <h4>(A Depot Of Jewels)</h4>
      <body>
        <p>For Pete’s sake..
            I don’t need your pity..
            Do what you have to do..
            Be whom you are!

          <p>Do not pretend to me..
              Be as nasty as you want to be.
              Let your true colours emerge..
              Let’s see what you are made of!

          <p>A fool’s paradise..
              Is not my domain..
              My space is big enough..
              Please do not patronize me!

          <p>I got it made..
              Deep inside of me..
              I know whom I am..
              I know what I possess!

          <p>A long time ago..
              Before I learnt to walk..
              I began to develop my talents..
              And my strong points!

          <p>I built treasures..
              I built castles..
              Opulent wealth..
              Deep inside me!
              
          <p>I do not need anyone..
              To tell me what I possess..
              I do not need anyone..
              Identifying my strong virtues!

          <p>At the drop of a hat..
              My admirers flood in..
              They are part of me..
              Till eternity!

          <p>The loss is really yours..
              Because there is absolutely nothing..
              You can possibly
              give me!

          <p>I am on top..
              Definitely on top of my game..
              You do not fool me..
              Not even for a minute!

          <p>A store house of goodies..
              A barn of harvest..
              A depot of Jewels..
              Immeasurable Jewels are in my crown!
          </p>          
      </body>
  </ion-content>
</ion-view>
