<ion-view id = "AOKOL" view-title="Art Object Kind Of Love">
  <ion-content>

      <h4>(Art Object Kind Of Love)</h4>
      <body>
        <p>None reciprocation..
            One way traffic..
            Salamanders and sardines,
            canned in a tin!

            A road to nowhere,
            an avenue to everlasting frustration..
            Yet; he kept riding on..
            The brutish horse in his terrible fantasy..

         <p>Timelessly living in self denial, 
            frustrated; yet masochistically hopeful
            that one day..she will change her mind,
            that her heart will yearn for his!

         <p>Alas; what a journey..
            A coin in an empty marmalade jar..
            no sweetness.. no spice... no savour
            no saviour in site; yet he is not savvy!
             
         <p>His throat is parched,
            butterflies continue to flutter,
            doing their tap dance
            in the rugae of his stomach!

            Inebriated by unreciprocated love,
            captivated by senseless desire,
            overwhelmed by reckless emotions,
            he is completely clueless and wet behind the ears!

         <p>Basking in an empty Euphoria,
            sweating incessantly in trepidation.
            For deep down inside..
            He knows the art object will eventually disappear!

         <p>Then who will be there for him?
            His tears drenched pillow..
            His “overbitten” finger nails
            And a grossly battered heart!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
