<ion-view id = "AS" view-title="All Seasons!">
  <ion-content>

      <h4>(All Seasons!)</h4>
      <body>
        <p>Cool thoughts mixed with deep emotions..
            Love is like an expensive fur coat;
            Of priceless exquisite colours..
            As deep as the one you wanna give!

          <p>Be it in summer..
              Or the fall..
              Or Springtime..
              And winter.. Love is love!

          <p>The flowers of Spring..
              The Sprinkling in the Fall..
              The coolness of winter..
              Brightness with the sun in Summer!

          <p>Hey.! whichever way it goes?
              Make the best of it..
              Do not complain..
              Just make sure you aren’t alone!
        </p>          
      </body>
  </ion-content>
</ion-view>
