<ion-view id = "AZD" view-title="Azondikhulula">
  <ion-content>

      <h4>(Azondikhulula)</h4>
      <body>
        <p>Azondikhulula..indeed by jove..
            Yes come and rescue him..
            Yeah; come and set him free..
            Push has really come to shove!

         <p>He has lost count of the days..
            The hours have become irrelevant..
            Irreplaceable are the deep feelings
            in his phakhati; His deepest inner being!

         <p>Someone said; Why should he?
            Another said; How could he?
            O tighten the bolts of the door..
            Guard his heart from love!

         <p>Then Princess Charming said to him:
            You are...my Diamond
            Marinated in liquid Gold,
            solidified with Rubies!

         <p>Sculptured in Beauty..
            Perfected in Elegance..
            Etched therein..
            Is your pet name!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
