<ion-view id = "BOR" view-title="Beasts Of Romance">
  <ion-content>

      <h4>(Beasts Of Romance)</h4>
      <body>
        <p>Clouds blown away by awry wind..
            Promising much but producing nothing..
            Empty vessels making a lot of noise..
            Howling like Jackals in the desert!

          <p>Parched throats of evil..
              Gluttons who can’t ever be satisfied..
              Behaving like wild ruminants..
              Intermittently regurgitating evil and deceit!

          <p>Winds against good souls..
              Evil personified and ills magnified..
              Revelling in destruction..
              Basking in the heat of doom!

          <p>Crying wolf for self aggrandisement..
              Deceiving unsuspecting partners..
              Inventing non existing problems..
              Extortionists to the core!

          <p>Wanton emotional destroyers..
              Teutonically efficient bulldozers..
              Exterminating other people’s joy..
              Leaving them dejected and hapless!

          <p>Creating cataclysmic chasms..
              Whereby partners are deceived..
              Confused and gobbersmacked..
              As they cohabit with Chameleons!

          <p>They cannot be understood..
              They are hybrids of creation..
              Cross between animals and man..
              Beasts to the hilt!

          <p>This is no Hilton Hotel..
              They are hills of sadness..
              A far cry from paradisiacal Joy..
              Lilies interspaced with poison Ivy!

          <p>Tarantulas weaving webs..
              To wallop unsuspecting victims..
              With potent and swift venom..
              Swirling them into shallow graves!

          <p>Dried up wells of compassion..
              Doomsday perpetrators..
              Pipedream creators..
              Blackest darkness daredevils!
        </p>          
      </body>
  </ion-content>
</ion-view>
