<ion-view id = "BR" view-title="Befitting Rhapsody">
  <ion-content>

      <h4>(Befitting Rhapsody)</h4>
      <body>
        <p>Love is not reciprocating..
            Hurts for hurts..
            But providing,
            oil and balms..
            For bangs & bumps!

          <p>Don't throw it all away..
              Don't bury love..
              When it is still alive..
              Please, don't practice
              Vulture Romanticism!

          <p>Some have deeply experienced,
              Loneliness in this world..
              If u've never experienced it..
              Kudos to you angelita..
              But ps lend me your ears!

          <p>Don't count those things,
              mother nature had in place before you met..
              Which you cannot change for now, time takes care of some issues!

          <p>Don't trade histories..
              Of things u could have changed..
              but you never did, in this new relationship.. 
              Or the mishaps..
              Of the far or recent past!

          <p>Yes there are some bad habits..
              Which you can help with..
              Ps be open & correct in love..
              Provoke each other to love..
              And good, works for a better future!

          <p>Flee the various distracting flirtations..
              They frequently fly away like flies..
              After feasting on festering wounds..
              Of fallen corpses of your love..
              Catastrophically destroyed by them!

          <p>Be focused, deep genuine lovers..
              Lest the partner you dump..
              While moonlighting in flirtations..
              Eventually becomes the real deal..
              A chief cornerstone in all ways!

          <p>Flitting, frightening, frolicking...
              Foraged, farmed, fed & furrows, filled
              by the finest full winds of affection.
              Making flames of love come alive..
              Fanning our befitting Rhapsody!
        </p>          
      </body>
  </ion-content>
</ion-view>
