<ion-view id = "CC" view-title="Crumbling Cookies">
  <ion-content>

      <h4>(Crumbling Cookies)</h4>
      <body>
        <p>Spilled Honey from the Jar...
            Goodness gracious me..
            How did it happen?
            Where they caught napping?
            Mixed with the dirty sand,
            Lies the erstwhile golden beauty!

          <p>Cookies cared for may crumble..
              Must you sit and moan? Azikho!
              Thumbs up to u, if you dare to move on..
              When cookies crumble..
              Thumbs up to daring movers..
              Oblivious of crumbled cookies

          <p>Unperturbed by crumbled cookies..
              Resilient and moving on.. Thumbs up to you..
              Tummies with butterflies..
              Jumping catfish with freckles..
              Freaking flirting fillets of fate..
              Fading with feeble feeling!

          <p>Wanton forlong fangs with foes..
              Erstwhile fooling smooches..
              Deceitful Judastic kisses..
              Fantom fantasies of fools..
              Foaming fillings of filth..
              Filming freely forever!
        </p>          
      </body>
  </ion-content>
</ion-view>
