<ion-view id = "COH" view-title="Cockpit Of Hell">
  <ion-content>

      <h4>(Cockpit Of Hell)</h4>
      <body>
        <p>You might as well..
            Cock a gun..
            To your head..
            In order to die!

          <p>You might as well..
              Cross a T junction..
              When the red light is on..
              To go to the great beyond!

          <p>A smack..
              A mark..
              A maim..
              As you swim!

          <p>His waters are dangerous..
              Crocodile thrashings and rollings..
              Piranha hugs & crushes..
              Tiger sharks’ amputations! 

          <p>Who are you hanging with?
              Wanna get hanged?
              Hey, you better watch it..
              Doomsday is near!

          <p>If only you know..
              If only you could see..
              Then you would run..
              Flee for dear life!

          <p>He is merely interested,
              in using you..
              You are a pun,
              in his chess game!

          <p>You are no cheese..
              You are no honey..
              You are expendable..
              In his eyes!

          <p>Don’t open your eyes..    
              Ogling at falling trees from above..
              If you don’t want to be blind, the elders say!

          <p>Alas.. You are not listening..
              You are romancing the stone..
              A gutless loveless being..
              Is the object of your fantasy!

          <p>He cannot love..
              He cannot care..
              He is an emotional sadist..
              A romantic psychopath to the core!

          <p>Flee like a bird from him..
              Be free as the wind..
              You are better off..
              Don’t commit emotional suicide!
        </p>          
      </body>
  </ion-content>
</ion-view>
