<ion-view view-title="Contents">
  <ion-content>
    <ion-list>
        <ion-item href="#/app/contents/Intro">
            Introduction
        </ion-item>
        <ion-item href="#/app/contents/Cupids_Vineyard">
            Cupid's Vineyard
        </ion-item>
        <ion-item href="#/app/contents/The_Sultry_Sassy_Lass">
            The Sultry Sassy Lass
        </ion-item>
        <ion-item href="#/app/contents/Let_Go">
            Let Go
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            Mating
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            Living by the memories
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            The sumptuous meal of passion
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            Deepest Feeling
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            Macho Masochist
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            The churning of emotions
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            Hey; Let’s move forward
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            The churning of emotions
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            Azondikhulula
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            The Restless Soul
        </ion-item>
        <ion-item id = "L" href="#/app/contents">
            Giving and Taking
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
