<ion-view id = "CTTW" view-title="Catution To The Winds">
  <ion-content>

      <h4>(Caution to the Winds)</h4>
      <body>
        <p>Everything flew out of the windows, 
            they were like children
            with parched throats.
            
        <p>On a hot summer afternoon
            with the dry scorching winds 
            and beads of sweat 
            running down their faces.
            
            Mum’s didn’t like it
            but their lips ravished the salty taste,
            as the sweat entered their mouths!

        <p> Like ice cream
            garnished  with currants and chocolate slabs
            deeply immersed,
            they savoured it all.

            My o My
            no holds barred,
            they let it all go
            before you could say
            hold on or Jack Robinson!

        <p> They had crossed the bridge,
            there was no going back.
            The alluring attraction
            was immensely great..
            Pleasure & Passion prevailed!

        <p>Moaning till the morning,
            even the Mona Lisa painting
            on the wall looked brighter.
            Was it an imagination?
            who cares? It may be cupid’s rays!

        <p> Deeply they wished
            they could go on and on.
            Time went by,
            but not their feelings,
            not the depth of this intimacy!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
