<ion-view id = "CV" view-title="Cupid’s Vineyard">
  <ion-content>

      <h4>(Cupid’s Vineyard)</h4>
      
     <body1>                      
        <p>Icy cold weather, blistering heat and howling winds...
            Imbibing and suckling the sweetness from the gods...
            The nectar of the gods.. the nectar from the petals...
            Ordinarily suckled by the bees!

            His terrain for fishing is too deep... too murky..
            She felt wet behind the ears...
            In his waters... she had to thread with caution...
            She did not want to drown!

            They were like children in the dark..
            Alas... like toddlers in the beach...
            Pitching castles in the sand    
            Savouring the lustre of the sun!

            Glittering rays burrow into their lives..
            Beaming with smiles; their lives lit up...
            Becoming candles of summer..
            Sweetly Perfumed Incandescence!

            The taste of lovely granadilla...
            The swirling lollipop of the saints
            Imbued with the spirit of innocence..
            Escaping the conundrums of love!




            Neither the callousness of the greedy...
            Nor the pomade of self inflicted recklessness..
            Of the uncaring debauchers
            Could distract them from succeeding!

            Indeed; they played.. yet prayed..
            So they won’t be preyed upon
            Pray tell.. by what?
            By the vicissitudes of the times!

            The temptations of the season..
            Like the galloping sounds...
            Of the horses in battle..
            Wow; must we war again?

            Oh my word... the turmoil of the heart..
            The torments of the inner being...
            Looking for escape routes..
            To quench the thirst of loneliness!

            The quest to conquer & embrace
            The inner windows of the mind..
            Mother nature is faithful...
            Irrespective of our waltz dance!


            Our trapeze moves with chagrin acts
            Jump started by stupidity...
            Pilfering and philandering...
            Cajoling and Smooching!

            Someone should please wake me up..
            I wish this is all a dream...
            I wish I can sweep everything
            Below the carpet of life!

            Please give me sweetness...
            Pure honey... undiluted and unpolluted
            Let me enjoy.. the richness
            The goodness from cupid’s fruits..

            O shoot your arrow..
            I am all yours..
            let me live perpetually..
            In cupid’s vineyard!
         </p>
      </body1>
      
  </ion-content>
</ion-view>