<ion-view id = "CV" view-title="Cupid’s Vineyard">
  <ion-content>

      <h4>(Cupid’s Vineyard)</h4>
      
     <body>                      
    <p>Icy cold weather, blistering heat and howling winds..
            Imbibing and suckling the sweetness from the gods..
            The nectar of the gods.. The nectar from the petals..
            Ordinarily suckled by the bees!

        <p> His terrain for fishing is too deep.. Too murky..
            She felt wet behind the ears..
            In his waters.. She had to thread with caution..
            She did not want to drown!

        <p> They were like children in the dark..
            Alas.. Like toddlers in the beach..
            Pitching castles in the sand..   
            Savouring the lustre of the sun!

        <p> Glittering rays burrow into their lives..
            Beaming with smiles; Their lives lit up..
            Becoming candles of summer..
            Sweetly Perfumed Incandescence!

        <p> The taste of lovely granadilla..
            The swirling lollipop of the saints..
            Imbued with the spirit of innocence..
            Escaping the conundrums of love!

        <p> Neither the callousness of the greedy..
            Nor the pomade of self inflicted recklessness,
            of the uncaring debauchers..
            Could distract them from succeeding!

        <p> Indeed; They played.. Yet prayed..
            So they won’t be preyed upon.
            Pray tell; by what?
            By the vicissitudes of the times!

        <p> The temptations of the season..
            Like the galloping sounds,
            of the horses in battle..
            Wow; must we war again?

        <p> Oh my word! The turmoil of the heart..
            The torments of the inner being..
            Looking for escape routes..
            To quench the thirst of loneliness!

        <p> The quest to conquer & embrace;
            The inner windows of the mind..
            Mother nature is faithful;
            Irrespective of our waltz dance!

        <p> Our trapeze moves with chagrin acts;
            Jump started by stupidity..
            Pilfering and philandering..
            Cajoling and Smooching!

        <p> Someone should please wake me up..
            I wish this is all a dream..
            I wish I can sweep everything,
            below the carpet of life!

        <p> Please give me sweetness..
            Pure honey.. Undiluted and unpolluted.
            Let me enjoy the richness..
            The goodness from cupid’s fruits.

        <p> O shoot your arrow..
            I am all yours..
            Let me live perpetually..
            In cupid’s vineyard!
         </p>
      </body>
      
  </ion-content>
</ion-view>