<ion-view id = "mpi" view-title="Daily Mantra">     
  <ion-content>
      <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
      
<!--    <h1>Daily Mantra</h1>-->
<!--      <h id="demo"></h>-->
<!--      <p id="myPicture"></p>-->
            
            
      <body>
<!--1.use splash animation (welcome to DM)as place holder, 2.change and confim height and width(670/750/820-->
     <img src="../img/Try/4.png" "" width="100%" height="670" position="fixed" id="mp">
          
      </body>
      
<!--
background: url(../img/lg.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
    
      
        background-color: #426eb9;
  background: url(../img/lg.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
-->
      
      
      
<!--
    <body>
    <img src="../img/Try/dm.jpg" margin="auto" size="fixed"
    background-size= "cover"
    id="myPicture" alt="some image" >   
    </body>
-->
      
<!--
<style type="text/css">
body{
    background: url(+ {{mP}} +) center center no-repeat scroll;
}
</style>      
-->
    



<!--
        <u>Testt</u><br /><span>{{d}}</span>
        <br /><br />
        

        <u>Testing  Count</u><br /><span ng-bind = "co"></span>
        <br /><br />
        
        
        <u>Testing</u><br /><span ng-bind = "counter"></span>
        <br /><br />
-->
        
<!--      </div>-->
  </ion-content>
</ion-view>
