<ion-view id = "DF" view-title="Deepest Feeling">
  <ion-content>

      <h4>(Deepest Feeling)</h4>
      <body>
        <p>Still waters.. Run very deep.
           Oftentimes.. Deepest feelings
           are the hardest to express!

        <p>Neither espressos will be able to help..
           Nor cappuccinos, in it’s final stage!

        <p>Even inundating innuendos..
           The catchy glimpses.. And..
           The alluring looks are not helpful!
  
        <p>The gyrating body movements..
           Like the swaying of the hips..
           The pursing of the lips!

         <p>Throwing back the wavy curls of the hair..  
            And.. The penetrating looks..
            With heartfelt smiles!

         <p>All become insufficient..
            Paralysed by passion..
            The lips are momentarily sealed!
          </p>        
      </body>
  </ion-content>
</ion-view>
