<ion-view id = "DML" view-title="Darting Moves Of Love">
  <ion-content>

      <h4>(Darting Moves Of Love)</h4>
      <body>
        <p>Starring starry Light..
            Like the wind that blows far away..
            Like the storms you cannot catch..
            Like the tornado that passed us by!

          <p>O what a tight night?
              Nighties that are so nice..
              Negligees that won’t neglect..
              Needling Stallions of Love!

          <p>Loving me till eternity..
              Tempting thoughts of tall trees..
              Everlasting green trees..
              Telling stories with the wind!

          <p>Unseen literary pens..
              Moving through the landscape of time..
              Inscribing intensely deep romantic verses..
              Which only cupid can painstakingly decipher!

          <p>Pumping pleasure, prompting..
              Pompous moves, unlike the Pope’s..
              Popping eyes that probe..
              With lofty lustful looks!

          <p>Alas how should we roll?
              Rollicking frolics of desire..
              Darting moves of Love..
              As we dance through the night!
        </p>          
      </body>
  </ion-content>
</ion-view>
