<ion-view id = "ERR" view-title="Emotional Russian Roulette">
  <ion-content>

      <h4>(Emotional Russian Roulette)</h4>
      <body>
        <p>Is it self restrain indeed?
            Or is it a lie?
            Claims of struggling..
            To touch or hold him?
            Alas who will ever know.
            
         <p>Hey no matter how deep
            Or intimately you feel,
            You should not cage!

         <p>Freedom of expression
            Applies to affairs of the heart..
            As to every day life 
            there is fundamental lover’s right!

         <p>Love you or leave you.
            Whichever way you slice the cake,
            What will give; will eventually give
            No matter how small the initial crack!

         <p>Hey cheer up..
            Live by the memories..
            Do not feel bad
            It was nice while it lasted!

            Who knows; no one does..
            Your souls may yearn 
            for each other again
            and the music begins again!

         <p>Dance to the beat 
            but keep one eye open
            at all times
            so you can see clearly!
          </p>
                  
      </body>
  </ion-content>
</ion-view>
