<ion-view id = "ET" view-title="Emotional Terrorism">
  <ion-content>

      <h4>(Emotional Terrorism)</h4>
      <body>
        <p>I am gonna,
            do my thing..
            I am gonna spread..
            In between different sheets!

          <p>Yeah.. It may be shitty..
              In your eyes..
              It may be bull..
              In your estimation!

          <p>As a sophisticated lady..
              I can pick & choose..
              I can have my fill..
              To the brim!

          <p>But you..
              Hey you..
              I am watching you..
              I am restricting you!

          <p>You dare not pick..
              You cannot choose..
              I am watching
              and restricting you with other ladies!

          <p>Other women..
              Whichever lady,
              you wanna see..
              Must have my approval!

          <p>Such women..
              As I do not approve,
              must be taboo..
              To you honey!

          <p>You think I am selfish?
              That is my take..
              Take it..
              Or take a walk!
          </p>
      </body>
  </ion-content>
</ion-view>
