<ion-view id = "GT" view-title="Giving and Taking">
  <ion-content>

      <h4>(Giving and Taking)</h4>
      <body>
         <p>Givers are so gracious..
            Giving of their substance,
            sustaining the needs,
            needfully appropriate for others!

            Takers may be thankful..
            Taking as they are given,
            giving grace to the giver,
            to have substance to give!

         <p>What’s your take?
            What gives from you?
            Who takes from who?
            Just be open and flow!

            Do not be slow,
            rather; Flow like a fresh river..
            Do not be stagnant; Flow from the top
            Yea; from the highest mountain top!

         <p>Give it the best..
            Yes; The best you’ve got.
            Avoid giving crumbs,
            lest your account becomes crippled!

            As the corn of wheat falls to the earth,
            giving herself to the soil,
            and lives to multiply,
            so it must be for you if you want to receive!

         <p>The best things in life
            are received when we give them.
            You want to receive,
            then you must learn & practise giving!

            How did you get here?
            Dropped from the sky?
            No no; Two people gave.
             
         <p>They shared that you may be & live!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
