<ion-view id = "HGB" view-title="High Grade Buffoon!">
  <ion-content>

      <h4>(High Grade Buffoon!)</h4>
      <body>
        <p>Are you mad at me?
            O my my; I am sorry love..
            I could not help it..
            I just wasn’t available!

          <p>Are you crying?
              O lovey.. I got soft tissues..
              Wipe your face..
              Wait till tomorrow!

          <p>Hopefully nice times will come..
              Let’s be futuristic..
              Meanwhile here is my bossom..
              Cry as much as you want my dear!

          <p>Kudos to me..
              He fell for it...
              I’ve successfully cheated on him!
              High grade buffoon!
        </p>          
      </body>
  </ion-content>
</ion-view>
