<ion-view id = "IN" view-title="Introduction">
  <ion-content>

      <h4>In classical mythology;</h4>
      <body1><l>
        <p>Cupid is the god of desire, erotic love, attraction and affection. His symbol consists of a bow and arrow.                                Various artists have attested that oftentimes; Cupid shoots his arrow so fast that it is very difficult to avoid being smitten..
        </p>
      
        <p>
        This is usually followed by different manifestations in the erotic love zone. Some of his victims (oftentimes winners; I dare say!) may find themselves in “misty blue pleasant situations”, “quagmires” , “erotic adventures” etc.
              
        <br>Cupid’s depthis a compilation of 50 prose pieces depicting different levels and depth of these manifestations.
        </p>
      
        <p>Please note that this is a completely fictional writing. 
            Any relationship to anyone is highly regretted and purely coincidental.
        </p>
          
        Thank you. Please enjoy!
        <br><br>Yours Erotically
        <br>Tina Barbra 
          </l>
         
          
      </body1>
    
  </ion-content>
</ion-view>
