<ion-view id = "ITTOAE" view-title="In The Twinkle Of An Eye">
  <ion-content>

      <h4>(In The Twinkle Of An Eye)</h4>
      <body>
        <p>There’s a group of peculiar dark monkeys..
            Bonobo monkeys in Congo..
            They settle disputes with sex!

          <p>While almost all lower animals,
              copulate for procreation..
              These solve problems,
              with regular copulation!

          <p>As if this wasn’t enough..
              I met a group of human beings..
              Another peculiar race of people..
              That do same like the monkeys!

          <p>One moment; men and women.
              were casual friends or even relatives..
              At the drop of a hat; in the twinkle of an eye..
              Erotic sexual intercourse begins!

          <p>Now that is not all..
              Each time and at every gathering
              that they meet an old flame,
              pants just have to come off!

          <p>Hey.! I am not being judgmental..
              All I am saying is,
              do it right..
              Sex is not so straight forward!

          <p>Particularly with human beings..
              There are many things to consider..
              Maybe Mother nature made it so..
              Cos we are supposed to be on top!

          <p>Yes to take care of the environment..
              Protect ourselves and other creatures,
              ensure a smooth continuum in nature..
              I hope we’ll do it right!

          <p>Sex is a total package..
              Make sure you check all the components..
              Be sure you are in control..
              Lest you regret.. Big time!
        </p>          
      </body>
  </ion-content>
</ion-view>
