<ion-view id = "JGS" view-title="Just Gimme Sex">
  <ion-content>

      <h4>(Just Gimme Sex)</h4>
      <body>
        <p>Sweet beautiful girl..
            How wonderful you look..
            Hey.! Please try & get educated..
            No.! Just gimme sex!

          <p>You can reach the top..
              The CEO of one of the biggest banks,
              is a woman; don’t you wanna be like her?
              No.! just gimme sex!

          <p>Don’t you wanna learn a trade..
              Fashion design, tourism, cosmetology?
              You can have the world at your feet..
              No.! just gimme sex!

          <p>Don’t you wanna help yourself..
              Don’t you wanna be able to help others..
              Can’t you see beyond sex?
              Can’t you see all these give more meaning to sex?

          <p>Don’t know what you are talking about..
              It is sex first,
              then other things will follow.!

          <p>Her wild parties continued..
              Booze & All sorts of hard drugs..
              Unprotected sex, orgies & multiple partners gigs..
              She lived as if tomorrow didn’t exist!

          <p>Two years later..
              She died in her sleep..
              Alcohol & Cocaine overdose,
              coupled with strange complications!
        </p>          
      </body>
  </ion-content>
</ion-view>
