<ion-view id = "LBTM" view-title="Living By The Memories">
  <ion-content>

      <h4>(Living By The Memories)</h4>
      <body>
        <p>The hinge of the doorway
            to a lover’s heart,
            can only be oiled
            if it creaks rhythmically..

       <p>Resonating to..
          The proposed partner’s heartbeat..
          Then the portal of entry is made,
          to heavenly bliss!

       <p>Alas the stark earthly reality is that..
          The song of love..
          Is oftentimes not sung by two.
          Hum it anyway; enjoy it and live by the memories!
        </p>          
      </body>
  </ion-content>
</ion-view>
