<ion-view id = "LG" view-title="Let Go">
  <ion-content>

      <h4>(Let Go)</h4>
      <body>
        <p>Don’t take the bait
            You are not salmon
            You are not a cheap prey
            In the food chain!

            So she wants to go..
            But you still care deeply
            Hey let her go.. rather than loathe you..
            Let her follow her rainbow
 
            There are no two snowflakes alike
            No two raindrops alike...
            Even identical twins aren’t the same weight
            This is life’s stark reality !

            You are two different stars
            In the starry skies of life
            Yes; you both shine..
            But your orbits and domains are different!

            If she stays,
            Nagging and resentment
            Shall be your main menu
            Hatred and frustration your dessert!

            Hey.. develop your inner self
            Find out whom you are
            Hone your skills
            Develop your talents
            
            Be creative... not wait to be cremated
            Creation in nature has made you creative
            Give life as long as you live..
            Bring Innovation to birth and nurture it!

            Time and again
            You may not see well
            Until some human veil disappears
            Then your vision becomes as sharp as an Eagle’s!

            Some doors need to close
            For newer, fresher and better ones..
            To stay ajar and open..
            Bringing ceaseless blessings!

            Then you’ll look back
            With a sigh of relief..
            You blow out hot air,
            Cooly & Calmly you smile.. for it’s a bright day!
        </p>
          
        Thank you.!
        <br><br>Yours Erotically
        <br>Tina Barbra 
                  
      </body>
    
  </ion-content>
</ion-view>
