<ion-view id = "LG" view-title="Let Go">
  <ion-content>

      <h4>(Let Go)</h4>
      <body>
        <p>Don’t take the bait,
            you are not salmon..
            You are not a cheap prey
            in the food chain!

            So she wants to go..
            But you still care deeply,
            hey.! Let her go.. Rather than loathe you..
            Let her follow her rainbow.
        
        <p>There are no two snowflakes alike,
            No two raindrops alike..
            Even identical twins aren’t the same weight,
            This is life’s stark reality!

         <p>You are two different stars
            In the starry skies of life.
            Yes; you both shine..
            But your orbits and domains are different!

        <p>If she stays,
            nagging and resentment
            shall be your main menu..
            Hatred and frustration your dessert!

         <p>Hey.. develop your inner self..
            Find out whom you are..
            Hone your skills..
            Develop your talents..
            
        <p>Be creative, not wait to be cremated..
            Creation in nature has made you creative.
            Give life as long as you live..
            Bring Innovation to birth and nurture it!

         <p>Time and again,
            you may not see well
            until some human veil disappears..
            Then your vision becomes as sharp as an Eagle’s!

        <p>Some doors need to close,
            for newer, fresher and better ones..
            To stay ajar and open..
            Bringing ceaseless blessings!

        <p>Then you’ll look back,
            with a sigh of relief..
            You blow out hot air,
            cooly & calmly you smile.. For it’s a bright day!
        </p>
          
                  
      </body>
    
  </ion-content>
</ion-view>
