<ion-view id = "MLL" view-title="Masquerading Love Lines">
  <ion-content>

      <h4>(Masquerading Love Lines)</h4>
      <body>
        <p>The biggest rip off of the Century..
            Dark dungeon love lines..
   **         Worse than a Tarantula scorpion’s bite..
            As venomous as a black Mamba’s kiss!

          <p>Deceitful love lines to partners..
              Seemingly good comments..
              When they really mean..
              The complete opposite!

          <p>I miss you to bits..
              Ah ah.. with a big sneer & chuckle..
              Don’t miss you a bit..
              You ain’t worth a farthing!

          <p>You are missed..
              More than you know..
              O No no.. You are trash..
              I don’t care about you!

          <p>I love you my dear..
              Love you? Are you kidding me?
              I am just stringing you on..
              You bloody yo yo!
              
          <p>I care about you..
              You carnage of necessity..
              I am merely carrying on..
              Cos u are carrying me financially!

          <p>I need you lovey..
              Like a kick in the bum..
              Like a bee in my back..
              Like a clown to perform for me!

          <p>You were great in bed..
              You are a great bore..
              Your grimy eyes irritate me..
              Merely seeing them in the bedroom!

          <p>Your kiss is so great..
              With a great hiss..
              I wish to dish you away..
              Like decayed rotten food!

          <p>You can tell me anything..
              Yes go on bloody fool..
              So me and my friends..
              Can have a hearty laugh!

          <p>I need to go to the next town..
              I’ll miss you my darling..
              Hmm.. biggest fool of the Century..
              I am gonna bed someone else!

          <p>Ps wait in the living room..
   *           Let me put on a sexy negligee..
              Compound foolish goon..
   *           I need to wats app another lover!

          <p>I am safely home; my love..
    *          Big loathsome oaf..
              The night has just started..
              I am with another lover!

          <p>I am thinking about you..
    *          For no good idiot..
              I need to get rid of you..
              Quickly.! like the bubonic plague!

          <p>You are amazing..
              A bloody flipping maze..
              Worthy of no use..
              Fit for rats to devour!

          <p>You are full of surprises..
              You are a stinking fool..
              With unimaginable stupidity..
              Give me some space!

          <p>I cherish your touch..
              Bloody flipping irritation..
              Like ants crawling..
              On my delicate smooth skin!

          <p>I dreamt about you..
              Not on your life..
              You are a nightmare..
              I wish to flee to the hills!

          <p>I can’t live without you..
              Not by a long shot.
              Wish you were history..
              I can’t live with you!


          <p>La la la..Bla Bla Bla..
              You are worse.. more stinking..
              Than a randy black sheep..
              So go to hell!!
        </p>          
      </body>
  </ion-content>
</ion-view>
