<ion-view id = "MM" view-title="Macho Masochist">
  <ion-content>

      <h4>(Macho Masochist)</h4>
      <body>
        <p>Which way is it?
            Macho... masculine superiority.
            Heard you can never be soft..
            Lest the ladies think you are a wimp!

         <p>Must they be whipped...
            With harsh & forceful treatment,
            must you appear to be uncaring..
            To score a point & be appreciated?

         <p>Is masochism the order
            in today’s world..
            Are rose givers & card givers
            considered too effeminate? 

         <p>I do not have a problem,
            with your doing whatever you think 
            you need to do..
            In order to catch the ladies attention.

         <p>My concern is the depth..
            The very essence of your being.
            Must you change whom you really are
            just to get laid?

         <p>There must be more 
            important things in Life..
            Like mother nature’s humaneness..
            Deeply entrenched in you!

         <p>How about your creativity?
            How about your spontaneity? 
            How about being a solution provider..
            A Beacon of light for your generation!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
