<ion-view id = "MT" view-title="Mating">
  <ion-content>

      <h4>(Mating)</h4>
      <body>
        <p>Mal-alignment.. malignancy malady..
            Maiden meadows of the midlands..
            Mildly mal odorous mildewing bread..
            Made for munching, meal for mammals!

        <p> Maybe in May.. Many are made,
            manufactured for millions.
            Meandering meaningless mewing...
            ted out by massive bulls!

         <p>Mating time is nigh..
            Mates are mean.. Some are lean..
            Mellowing with soft grass..
            But mating must be met!
 
         <p>Matters of the mates..
            Manifest in the meadows.
            Mankind making melody..
            Mating millions in Magaliesburg!
          </p>
                  
      </body>
  </ion-content>
</ion-view>
