<ion-view id = "MTMP" view-title="My Theatre.. My Puppet">
  <ion-content>

      <h4>(My Theatre.. My Puppet)</h4>
      <body>
        <p>My Theatre.. My Puppet..
            My theatrical yo yo on strings.
            Your silly pranks..
            Inspire and amuse me tremendously!

          <p>Strange stories producer..
              My crazy script source..
              Your energy is surprising..
              Thanks for enhancing my creativity!

          <p>Sometimes I wonder..
              How you do it..?
              But I have come to realise..
              Never is there; a dull moment with you!

          <p>Unsurpassed skillful liar..
              Consistent artful dodger..
              Grand master of deceit..
              Unrepentant two faced actor!

          <p>Your imaginary smartness..
              Is my inspiration..
              You think I am fooled..?
              Nay.. I am thrilled!

          <p>Titillated to bits..
              What a scintillating experience..
              As I write volumes..
              From your astounding atrocities!
        </p>
      </body>
  </ion-content>
</ion-view>
