<ion-view id = "OR" view-title="Oxymoronic Romance">
  <ion-content>

      <h4>(Oxymoronic Romance)</h4>
      <body>
        <p>To be..
            Or not to be..
            To live or to die..
            Choices.. Per chance!

          <p>It hurts so good..
              I don’t like it..
              Yeah.. I love it..
              Hmm.. my bad!

          <p>Your sweetness..
              Is my weakness..
              Not a weakling; but I give..
              So you may have!

          <p>The sadist..
              And the masochist..
              In warm embrace..
              What a love Tango!

          <p>A twist of nature..
              Thrilling trysts..
              Fulfilling needs..
              Of each other’s heart!

          <p>Yesterday’s pain..
              Lessons in love..
              For tomorrow’s joy..
              If only you can persevere!

          <p>The elders do say that..
              He that inflicts pain..
              Willingly on you..
              Inadvertently makes you strong!

          <p>However; some are so busy..
              Dishing out pain to others..
              That pain resides in them..
              And joy becomes a complete stranger!

          <p>They pound passionately..
              They pelt and pester abuse.
              They fester wounds of hurt.. 
              Evil becomes their fashion.

          <p>To be wrapped up in bed..
              Is better than unwrapping,        
              some lover’s present.
              Because they are meaningless!

          <p>Yes indeed.. Some give..
              Just to tie you up..
              Like a goat..
              Programmed for the abattoir!

          <p>Hey.. What am I going to do?
              Can I still give?
          <p>Can I still take?
              Must I fold my hands totally?

          <p>Please listen to your heart..
              Subject to the substance,
              of your functional brain..
              Don’t jump the gun!

          <p>Even lower animals..
              Unmistakably recognise,
              The predators and flee..
              Rather than become a prey!

          <p>They recognise friends,
              and mates of course..
              At the appropriate season..
              And the beat goes on!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
