<ion-view id = "OTJ" view-title="ODE TO JM">
  <ion-content>

      <h4>(ODE TO JM)</h4>
      <body>
        <p>Papa mia; loving Jossy lad Popsie..
            Baba Jamming and Jugging..
            O good genes you got,
            Gingering me to Gold..

          <p>God oriented goodness..
              Gargantuan goodness you gave..
              Gaggling ghoulish games;
              Granting me greatness!

          <p>O I remember your boldness..
              JM; I adore your brawn..
              Not neglecting your intelligence,
              Genius generating genres you got!

          <p>Guiding me to gigantic heights..
              You sowed loving seeds of seriousness..
              Enhancing eloquence and creativity!
              In opulent tapestry of excellence!
        </p>          
      </body>
  </ion-content>
</ion-view>
