<ion-view id = "PM" view-title="Percious Moment">
  <ion-content>

      <h4>(Percious Moment)</h4>
      <body>
        <p>Quiet night with crickets chirping;
            Hey there, what are they doing?
            Must the night just pass them by?
         
          <p>The lovers need to be together!
            Do they want to waste this night?
            Will they rather ignore the vibes?
            
         <p>The Chrysanthemums have slept
            the Sunflowers are in slumberland!
            Not the Queen of the night
            she woos all with sensitive nostrils
            intensely erotic is her aroma
            captivating is her sweetness!

         <p>“Come my love”.. he says to her
            the night is calling..
            Even the moon is crawling,
            calling us to cuddle!

         <p>“Methinks I will surrender”.. she replies and continues:
            “I’ll not fight this feeling anymore,
            no no; only me heart feels the pain
            as I struggle with my inner being”!

         <p>Where would you rather be..
            Where the river bed is calm?
            Or where the waves of the sea
            have decided to rest for the night!

         <p>Alas there souls are weary..
            The very depths of their beings
            wants an amalgamation;
            A cohesion of his soul with hers!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
