<ion-view id = "PUYS" view-title="Pull Up Your Socks!">
  <ion-content>

      <h4>(Pull Up Your Socks!)</h4>
      <body>
        <p>Make me.. He says.
            Tempt me.. He cries.
            Taste me.. He growls.
            Take me.. He pleads!

          <p>Like  a roller coaster..
              The journey begins..
              Life’s challenge..
              Is at it’s peak!

          <p>Don’t pick on me..
              Pick me.. He begs..
              If you so desire,
              tomorrow may be too late!

          <p>Today, he is basking..
              In the euphoria,
              of the moment..
              Don’t wait till tomorrow!

          <p>A totally different person,
              may emerge..
              After he has counted,
              and taken stock!

          <p>Pull up your socks..
              Make up your mind..
              Do not vacillate..
              Do what you have to do.

          <p>Grab the bull..
              By the horn..
              The game has begun..
              A true Matador you will be!
        </p>
      </body>
  </ion-content>
</ion-view>
