<ion-view id = "ROL" view-title="Rainbow Of Love">
  <ion-content>
      <h4>(Rainbow Of Love)</h4>
      <body>
        <p>Love comes in different colours..
            Like the bright rainbow in the skies..
            From tempting momentary sparks..
            To everlasting blue flames!

          <p>Yeah; it is a spectrum..
              Flirtatious alluring looks..
              Generating twinkling sparks.. 
              That may dwindle or even fade!

          <p>Be careful, be cautious my dear..
              Yeah; it’s very easy to bury love..
              Even when it is not dead..
              Because the sparks are gone!

          <p>Hmm.. You get to know each other..
              Strong points and faults emerge..
              Quarrels, fights, and squabbles may come..
              You make up, or some separate over time!

          <p>There are no raindrops alike..
              Even identical twins
              differ in their perceptions..
              And inclinations to life!

          <p>The major global problem..
              In the love department..
              Realistically right now...
              Is that many live just for sparks!

          <p>However; sparks are sparks..
              Especially if they remain so..
              Sparks cannot boil water..
              Except they generate flames; they die!

          <p>Flames give heat..
              Love’s culinary catalyst.
              Mankind has evolved above the beasts..
              Most delicious meals need to be cooked!

          <p>Precious jewel..This day..
              I wish you the brightest light..
              Longer lasting than temporary sparks..
              So fulfilling.. So calm.. So cool..

          <p>Warm, delicately serene.
              Yet depicting great Joy..
              Diamond of inestimable value..
              I have a fervent wish for you!

          <p>Yes; Powerful and deep..
              Beyond the glitters of Gliterratti..
              In all spheres of your life..
              As lovely as you are!

          <p>Yeah you deserve it..
              Long lasting.. Soothing..
              Indeed; my fervent wish for you..
              Is the BLUE FLAME!
        </p>          
      </body>
  </ion-content>
</ion-view>
