<ion-view id = "SM" view-title="Stegomyia Mosquito">
  <ion-content>

      <h4>(Stegomyia Mosquito)</h4>
      <body>
        <p>Wobbly legs..
            Unstable features..
            Pointed mouth
            and snorting through the nostrils!

          <p>Your unsuspecting victim,
              is naked..
              He lays bare,
              Waiting for you to feast!

          <p>You deep your fangs..
              Your penetrating proboscis..
              Into his flesh..
              Yes you feed from his blood!

          <p>Initially it is ticklish..
              A bit dazed he becomes..
              Like the tipsy feeling..
              After taking some wine!

          <p>As the dizziness deepens..
              He realises..
              To his utter chagrin..
              That his live is ebbing away!

          <p>So long so far..
              The journey of his life,
              is closing up..
              What a shame!

          <p>Dust to dust..
              Ashes to ashes..
              And so the victim..
              Crosses to the other side!
        </p>
      </body>
  </ion-content>
</ion-view>
