<ion-view id = "TAB" view-title="The Alabaster Box">
  <ion-content>

      <h4>(The Alabaster Box)</h4>
      <body>
        <p>She is not opening..
            A Mandarin Pandora’s Box..
            No tricks from Honduras..
            No games from Panama!

            It’s just the depth..
            of her unprecedented inner feeling.
            An astounding Intense affection..
            towards the man of his dreams!
            
         <p>She is sophisticated but not truncated 
            by her education and impressive intelligence..
            Yea; she got struck by Cupid’s arrow 
            and overwhelmed by passion!

         <p>She stood up against all odds
            to gain his attention,
            to win his love;
            She struck everyone like a thunderbolt!

         <p>They thought she couldn’t cook,
            they thought she couldn’t wash,
            she surprised all by excelling in everything
            she ironed and kept all impeccably clean!

         <p>Her manners are legendary,
            her patience is surprising,
            she is fully loaded with goodness..
            A priceless Alabaster box!

         <p>O sweet bride; cupid’s lass..
            Beautiful to behold an epitome of perfection.
            Prince Charming has been knocked out
            for sixpence and begins to dote over her!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
