<ion-view id = "TCOE" view-title="The Churning Of Emotions">
  <ion-content>

      <h4>(The Churning Of Emotions)</h4>
      <body>
        <p>Wash her.. this is no hogwash,
            pls wipe her.. not with wet ones..
            Wheel her.. not in a wheelchair..
            She just needs to be free!

         <p>O she is caught up in a rot,
            overwhelmed..overtaken and overburdened 
            by the butterflies in her stomach..
            The churning of emotions inside her!

        <p>Not a snowball’s chance in hell..
            She wishes wisdom would wallop her,
            that understanding will smack her
            and set her mind straight.

         <p>Far are her thoughts..
            Deep are her feelings.
            Her entrails are boiling..
            Overwhelming heat all over her!

         <p>I pray the heat..
            will not kill her.
            The passion of her heart..
            The fire of her desires!

            Daunting.. dicy and desperate..
            Her dangerous desires are.
            Doubtful, dangling & dwindling..
            The carrots of temptation are nigh!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
