<ion-view id = "TFAHM" view-title="The Fool And His Money">
  <ion-content>

      <h4>(The Fool And His Money)</h4>
      <body>
        <p>To my love..
            I am all open..
            Give it to me,
            she screams at him!

          <p>Phone in her left hand..
              She speaks to her other lover..
              O my love.. I miss you..
              Miss you to bits!

          <p>What the hell! The man on top screams..
              Who are you talking to?
              Put your mind on the job..
              Give it to me real good baby!

          <p>Then, play on Prince charming..
              Let me pacify this guy..
              After all, he provided the money
              for this lovely hotel!

          <p>Okay, in that case..
              Speak nicely to him..
              Cuddle him with sweet words..
              As I keep pounding!
        </p>          
      </body>
  </ion-content>
</ion-view>
