<ion-view id = "TLD" view-title="The Love Dance">
  <ion-content>

      <h4>(The Love Dance)</h4>
      <body>
        <p>He does it all..
            Not just for you..
            Though it's to You..
            But, the major reason
            For doing it all..
            Is For the Love you share!

         <p>Strange Love..
            Unusual love..
            Incomprehensible..
            To many..
            But Intensely deep,
            to both of you!

          <p>Events around you..
              Are like a continuous scroll.
              Written by the actors
              Of various events..
              That you witness,
              around you!

          <p>Hey! Wait not..
              For the end..
              Wait not for death..
              Before you realise,
              What could have been..
              What should have been!

          <p>There are no two snowflakes alike..
              However in the dance of love..
              There is a cohesion,
              Whereby two lovely stars..
              Cohabit and often copulate,
              Yet collisions are not impossible!

          <p>However..You both, need to learn…
              About dumping your egos..
              Looking at the larger picture..
              Not just your personal hurts..
              For you've hurt each other before..
              Big time.. In the past!

          <p>Did your partner forgive you?
              So why are you unforgiving?
              You wanna be God..
              Cut away this.. and that?
              Oh my word! You have forgotten?
              The unusual beginning of this love!

          <p>Many are waiting..
              On either side..
              To replace your spouse..
              Is that what you want..
              Hey! Give it your best shot..
              The grass ain't greener over there!
        </p>          
      </body>
  </ion-content>
</ion-view>
