<ion-view id = "TM" view-title="The Masterpiece">
  <ion-content>

      <h4>(The Masterpiece)</h4>
      <body>
        <p>You ‘re too blunt.. Too realistic..
            Too damn down to earth..
            For a lot of people..
            In this crazy world!

          <p>Hide your feelings..
              Do not share your emotions..
              That’s the way the game rolls..
              A sissy.. Nor a sucker; neither be!

          <p>So suckle I must..
              At the breast of falsehood..
              Cosily cuddle I must..
              At the bossom of deceit?

          <p>I don’t think so..
              I wanna be free..
              I wanna be me..
              Uhuru it is in Swahili!

          <p>Azondikhulula in Isizulu..
              O let love set me free..
              Let me show it..
              No matter what!

          <p>I am a creative artist..
              The release is great..
              The joy is like a great orgasm..
              The peak of my innermost delight!

          <p>Let the roaring waves..
              Roll above the rocks..
              Let there be splashes..
              And bubbles of delight!

          <p>Bourbons of Pleasure..
              Not Baboons of leisure..
              Bottles of Bordeuax wine..
              As we bask in Barbados!

          <p>How about rebuffs and refusals?
              It does not really matter..
              My freedom of expression,
              takes the bigger slice of the cake!

          <p>Hurts.. Won’t you feel hurt?
              Let hurts inspire you..
              Let a great work of Art;
              A masterpiece be born!
        </p>          
      </body>
  </ion-content>
</ion-view>
