<ion-view id = "TPOD" view-title="The Prince Of Death">
  <ion-content>

      <h4>(The Prince Of Death)</h4>
      <body>
        <p>High stepping..
            Wild life living..
            Adonis of the century..
            Appearing like Prince Charming!

          <p>Living recklessly..
              With Riotous inclinations..
              Getting stone drunk..
              And cocaine laden!

          <p>Can anyone blame me,
              for refusing to die prematurely?
              Or signing my death certificate?
              Blimey; run I must for dear life!

          <p>Whoever snatches you..
              Does me a big favour..
              Good riddance I must say..
              To ridiculously bad rubbish!
        </p>          
      </body>
  </ion-content>
</ion-view>
