<ion-view id = "TPTW" view-title="The Past.. The Whip!">
  <ion-content>

      <h4>(The Past.. The Whip!)</h4>
      <body>
        <p>Caught up by emotions..
            Overwrought by the past..
            You often think..
            And continue to think!

          <p>Hey.. You’ve got to move on..
              You don’t win a race,
              by looking at your rear..
              You must push on!

          <p>Don’t be pushed behind..
              By bad reminiscences..
              Thoughts of what should..
              Or shouldn’t have happened!

          <p>It is done..
              You cannot undo them..
              Let them be..
              Keep moving on!

          <p>When one door closes..
              Leave it closed..
              Open your eyes..
              It’s a brand new day!

          <p>You cannot change the past..
              You cannot rewrite it..
              Learn from it..
              But don’t yearn for it!

          <p>Bear the heat..
              It’s gonna be for a while..
              But time heals..
              Better days are coming!

          <p>Time and again in nature..
              A seed falls to the ground..
              Disintegrates and eventually sprouts..
              To give birth to a new plant! 

          <p>The plant grows..
              Gets nurtured by nature..
              Flowers bloom..
              And new fruits emerge!
        </p>
      </body>
  </ion-content>
</ion-view>
