<ion-view id = "TR" view-title="Tight Rope">
  <ion-content>

      <h4>(Tight Rope)</h4>
      <body>
        <p>A real roller coaster;
            what else but topsy turvy..
            I think this must be;
            worse than hot air balloon!

          <p>Bonkers, blighter, buffoon..
              No more words left to describe you..
              As I see you walking..
              Along the path of  destruction!

          <p>Why should you love pain?
              Danger is like dessert to you..
              Yet you keep on trucking..
              Shimmying to the devil’s pleasure!

          <p>What about your children?
              Who is going to look after them..
              When you have exterminated yourself
              Definitely no one and you know it!

          <p>You live your life..
              Worse than that of a lunatic ..
              Walking across the highway;
              with eyes totally closed!

          <p>One bed to another...
              Changing men incessantly..
              As you change underwear..
              As you brush your teeth!

          <p>Deep down in their beings..
              Many men seethe with anger..
              Though they pretend and not show it..
              Because of your sexual gymnastics!

          <p>They wonder when will it end...
              Wondering; What can they do..
              Wondering; How long will it take..
              For this madness to end?

          <p>Trapeze artistes and tight rope walkers..
              Do take a holiday...
              Not you sonsy lass..
              You are a perpetual walking timebomb!
        </p>          
      </body>
  </ion-content>
</ion-view>
