<ion-view id = "TRS" view-title="The Restless Soul">
  <ion-content>

      <h4>(The Restless Soul)</h4>
      <body>
        <p>“Wither goest thou his soul..
            Wither searchest thou his heart..
            Pumping, panting and pruning..
            O that the chaff would disappear!

         <p>He thinks it is wantonly crazy..
            The bouts of cataclysmic chasm..
            One minute; elated excited..
            The next minute; in debilitating enuii!

         <p>All thanks to mother nature..
            That he no longer drinks heavily,
            He would have laced himself
            with the crazy fluid of the gods!

         <p>Who needs to be crazy anyway,
            it is enough emotional madness
            being in his present emotional quagmire,
            If only he could fly away; like a bird!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
