<ion-view id = "TS" view-title="Two Stars">
  <ion-content>

      <h4>(Two Stars)</h4>
      <body>
        <p>Forces to be reckoned with..
            Destined to shine & not be shy..
            Impacting different lives..
            In various ways..mina nawe..
            Yes they notice & stories will come
            concerning you and I in our different..
            But unmistakeable interactions with people.

          <p>No matter what we hear..
              Irrespective of what we see..
              Shall we take time to share..
              Shall we take moments to discuss..
              Neither get impetuous nor impulsive..
              Keeping cool and calm..
              As we find out & work it out!

          <p>There are at least two sides..
              To every situation.. Every story..
              Every coyness.. Every coin..
              Oftentimes we coin our perception..
              From a jaundiced one sided view..
              Hey it’s better not to be conned..
              Neither fooled nor deceived!

          <p>A long time ago..
              The elders and sages
              of my tribe.. Spoke very clearly..
              Our people, please be wise..
              Only a fool will listen to one side of story..
              And jump to conclusions..
              Hey! Be quick to hear, but cautious to speak & act!
        </p>          
      </body>
  </ion-content>
</ion-view>
