<ion-view id = "TSMOP" view-title="The Sumptuous Meal Of Passion">
  <ion-content>

      <h4>(The Sumptuous Meal Of Passion)</h4>
      <body>
        <p>They make the hotplate..
           Of the cuisine of love.
           Yearn for more heat..
           As they plan to prepare..
           A sumptuous meal of passion.

        <p>Not your portion?
           Hey; Take a slice..
           Taste a portion; It’s no poison..
           Passionately they persevere!
                      
        <p>Salivating.. Heart thumping..
           Sweating & patiently waiting.
        <p>Five star hotels cannot satisfy,
           As they hunger for love.
           In order to perpetrate their deepest pleasures!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
