<ion-view id = "TSSL" view-title="The Sultry Sassy Lass">
  <ion-content>
      <div id = "The_Sultry_Sassy_Lass">

      <h4>(The Sultry Sassy Lass)</h4>
      <body1>
        <p> Yes; she is a sultry sassy lass..
            You’ve given it all,
            yet; she resents you.
            Hey.! wait for a minute and think.

         <p>It is her prerogative to change her mind.
            If she hollers..
            Please let her go!
            If she cries foul; let her take a dive
            into a lake or two if she pleases,
            or into the deep blue ocean of life
            if she so desires. 
            As some do.. Leave her..
            To tango with the Predators..
            The Tigers and white sharks of life.
            
        <p>Bitten and battered blue..
            Mauled and badly damaged..
            I hope she won’t be beyond repairs..
            As she nurses the wounds till eternity!
 
         <p>Forget me not wounds..
            For the world to see.. Maybe other sultry sassy lasses, will learn to be more discerning!
           
         <p>But you my guy..
            What have you been doing?
            Absolutely not enough..
            I dare say!

         <p>Why do you complain..
            Why moan like a baby?
            Isn’t there something more
            you can do?

         <p>Hey.. Give it all you’ve got..
             Buy her a chocolate..
             Sing a lullaby.. Or do a waltz!
             If you care deeply!

          <p>Whatever happened to serenade..
              How about lemonade?
              Or cream soda laced with Ice?

          <p>Make her feel wanted..
             Show her some love..
             Get up! Stand up!
             show her what you are made of!
            </p>
          
      </body1>
          
      </div>
  </ion-content>
</ion-view>
