<ion-view id = "WD" view-title="Walking Disaster">
  <ion-content>

      <h4>(Walking Disaster)</h4>
      <body>
<p>Why do you worry?
            Why should you care?
            No carousal; so what?
            You are much better off!

          <p>You are not missing anything..
              That which you want to get..
              Is actually hell on earth..
              I can promise you!

          <p>There is nothing there..
              But woes and thorns..
              Thrones of pain..
              Drones of sorrow!

          <p>Don’t be caged..
              Don’t be canned..
              Like tinned fish..
              Or trimmed Tuna!

          <p>Let him go..
              He is trouble..
              He is not worth it..
              Not even a dime!

          <p>The deed is done..
              The deal is death..
              The depth is hell..
              What a helluva reality!

          <p>He is a walking disaster..
              Dead; though alive..
              He cannot live long..
              You can bet on it!

          <p>His whole body 
              is severely rattled, 
              with different severe ailments..
              All due to sexual indiscretion!

          <p>Indescribable..
              Irreparable..
              Incomprehensible..
              Irredeemable!

          <p>So wake up..
              Stay alive..
              Don’t be sad..
              Celebrate life!
        </p>                   
      </body>
  </ion-content>
</ion-view>
