<ion-view id = "WDG" view-title="Waltz Dance Of Glamour">
  <ion-content>

      <h4>(Waltz Dance Of Glamour)</h4>
      <body>
        <p>Be still.. Don’t move.. 
            Less is much.. More is doom..
            Nature calls.. Nature moves..
            More than you can mar!

          <p>Moaning means meagreness..
              Miles of luscious meadows..
              Meandering mellow manners..
              That matter more than your means!

          <p>Meeting millions of men..
              Melting the heart of many..
              Mounting mountains of marble..
              That make mighty malls!

          <p>Malls with walls of Beauty..
              Waltz dance of glamour..
              Glittering designer labels..
              Speaking quality with quintessence!

          <p>Uttering profound elegance..
              Needing no advertisements..
              Impresarios’ are expressionless..
              Because taste beats all distastes!
        </p>          
      </body>
  </ion-content>
</ion-view>
