<ion-view id = "WLD" view-title="When Lovw Dies!">
  <ion-content>

      <h4>(When Love Dies!)</h4>
      <body>
        <p>Dead men don’t count..
            O, I’ll rather let them be..
            Honour them as they were..
            While alive let them be!

          <p>Watching the dead..
              Lying in state..
              Ain’t my turf..
              I’ll rather not see!

          <p>I prefer to see the dead..
              As they were while alive..
              Bubbly, happy and lively..
              With their smooth skin!

          <p>Not like hard wood..
              Lifeless ‘feelingless’ log..
              Eyes permanently closed..
              All limbs lowered & limp!

          <p>So it is when love dies..
              Just make sure..
              It really is dead..
              Before you pronounce it gone!

          <p>Thereafter no more raps..
              No more gibberish..
              Mum is the word; keep mum..
              Don’t dare babble!

          <p>Dotting darlings..
              It’s no time..
              To moan or be morose..
              Lift up your head high!

          <p>Look up to the skies..
              Open up your log book..
              Look into your past romance..
              Savour those precious moments!

          <p>Sad Sam.. do not be...
              It’s gone.. so let it be..
              Block the sad memories..
              Keep on trucking!

          <p>Clear your eyes..
              So you can see well..
              Open your heart.. 
              To new possibilities!
        </p>          
      </body>
  </ion-content>
</ion-view>
