<ion-view id = "WY" view-title="Without You">
  <ion-content>

      <h4>(Without You)</h4>
      <body>
        <p>From the depths
            of my inner being
            that cherishes..
            my darling!

            So passionately..
            Do I boldly say..
		    The nights are quiet
            Without you!

         <p>The winds seem stronger
            The crickets chirp more
            As I strongly wish...
            You were in my arms!

        <p>The bull frog croaks..
            Now that’s his mates song..
            Her own Grammy award spinner..
            Packaged for procreation!

        <p>My darling..
            Here I am..
            Patiently waiting
            Just for you to come!
        </p>
                  
      </body>
  </ion-content>
</ion-view>
