/* Empty. Add your own CSS if you like */
#IN{

  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
  background-color: #426eb9;
  background: url(../img/D/Beach.jpg) center center no-repeat scroll;

/*      background: url(../img/kk1.png) center center no-repeat scroll;*/
  /*    background: url(../img/km-2.jpg) center center no-repeat scroll;*/

  position: fixed;
  background-size: cover;
    
}

#CnT{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
  background-color: #426eb9;
  background: url(../img/D/Beach.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

#dmtr{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*
  background-color: #426eb9;
  background: center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
*/
}


/* 1 */
#CV{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
  background-color: #426eb9;
/*  background: url(../img/H1.jpg) center center no-repeat scroll;  */
  background: url(../img/E/a.jpg) center no-repeat scroll;  
/*  background: url(../img/n10-3i.jpg) center center no-repeat scroll;  */
/*  background: url(../img/n10-3ii.jpg) center center no-repeat scroll;  */
  position: fixed;
  background-size: cover;
}

/* 2 */
#TSSL{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
  background-color: #426eb9;
/*  background: url(../img/m2.jpg) center center no-repeat scroll;*/
  background: url(../img/E/b.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 3 */
#LG{

  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
  background-color: #426eb9;
  /*background: url(../img/kk3.png) center center no-repeat scroll;*/
background: url(../img/E/c.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 4 */
#MT{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/E/d.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 5 */
#LBTM{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/E/e.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 6 */
#TSMOP{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/6.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 7 */
#DF{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/7.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;  
}

/* 8 */
#MM{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/E/h.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 9 */
#TCOE{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/9.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 10 */
#HLMF{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/10.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;  
}

/* 11 */
#AZD{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 12 */
#TRS{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;  
}

/* 13 */
#GT{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/13.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover; 
}

/* 14 */
#AOKOL{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover; 
}

/* 15 */
#TAB{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover; 
}

/* 16 */
#CTTW{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/16.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 17 */
#PM{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 18 */
#ERR{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;
}

/* 19 */
#WY{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;    
}

/* 20 */
#ABOG{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 21 */
#BR{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/21.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 22 */
#TLD{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 23 */
#DML{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/23--.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;  
}

/* 24 */
#OTJ{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/24.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;  
}

/* 25 */
#WDG{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/24.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;  
}

/* 26 */
#CC{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/26.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 27 */
#TM{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 28 */
#TFAHM{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 29 */
#ABS{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/29.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 30 */
#AS{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/30.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 31 */
#MLL{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 32 */
#WLD{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/32.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 33 */
#HGB{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/33.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 34 */
#ITTOAE{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/34.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 35 */
#JGS{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/35.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 36 */
#ADOJ{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/36--.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 37 */
#TPOD{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/37.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 38 */
#TR{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 39 */
#TS{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/39.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 40 */
#WD{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/40.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 41 */
#ROL{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/41.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 42 */
#OR{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 43 */
#SM{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/43.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 44 */
#PUYS{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/44.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 45 */
#ET{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}


/* 46 */
#COH{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/C/46.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 47 */
#BOR{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/47.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 48 */
#MTMP{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 49 */
#BBTS{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/* 50 */
#TPTW{
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0);
/*  background-color: #426eb9;*/
  background: url(../img/D/HandF.jpg) center center no-repeat scroll;
  position: fixed;
  background-size: cover;   
}

/*

h1,
h2,
h3,
h4,
h5 {
  color: #fff;
  font-weight: 300;
}
*/
h4{
/*    color: pink;*/
    text-align: center;
        font-style: italic
}

body1{
/*    color: #fff;*/
    font-style:italic;
  font-weight: 300;
}

body{
/*    color: #fff;*/
    font-style:italic;
  font-weight: 300;
}

